h1{
    color: rgb(9, 145, 99);
}
.fur{
    background-color: rgb(243, 229, 229);
    height: 500px;
    width: 1000;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:underline ;
    display:block;
    margin: 20px;
    padding: 20px;
}
.col1 {
    display:inline-block;
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
}
.col{ 
   display:inline-block;
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
}