body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background: linear-gradient (45deg,#0f2027, #203a43, #2c5364);
  background-color: #0f2027;
  
}
.glow-btn{
  font-size: 1.5rem;
  color: #fff;
  padding: 15px 30p;
  margin: 10px;
  border: 2px solid #0ff;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.glow-btn::before{
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  height: 200%;
  width:200%;
  background: radial-gradient(circle rgba(255, 255, 255, 0.3),rgba(255, 0, 255, 0)70%);
  transition: 0.4s;
  transform: scale(0);
}
.glow-btn:hover::before{
  transform: scale(1);
  
}
.glow-btn:hover{
  color: black;
  background-color: aqua;
  box-shadow: 0 0 15px aqua, 0 0 60px aqua, 0 0 120px aqua;
  
}
.glow-btn:active{
  transform: scale(0.96);
}