#grid-box {
  height: 100vh;
  width: 100vw;
  background-color: rgb(160, 110, 95);
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  /* grid-template-columns: 200px 200px; */
}
#grid-1 {
    
  background-color: #667eea;
border: 2px solid white;
padding: 20px;
text-align: center;
}
#grid-2 {
  height: 250px;
  width: 350px;
  background-color: rgb(200, 50, 205);
}
#grid-3 {
  height: 250px;
  width: 350px;
  background-color: rgb(205, 50, 58);
}
#grid-4 {
  height: 250px;
  width: 350px;
  background-color: rgb(242, 243, 240);
}
#grid-5 {
  height: 250px;
  width: 350px;
  background-color: rgb(50, 200, 205);
}
